.vagrant/
Vagrantfile.kvm

android/.gradle/
android/.idea/
android/android.iml
android/builddir/

android/gradlew
android/gradlew.bat
android/ouinet/ouinet.iml
android/ouinet/data
android/ouinet/src/debug/jniLibs
android/ouinet/src/debug/resources

android/local.properties

#python byte codes
*.pyc
# python tests temp dir
test/integration_test/_trial_temp/

# When running rust tests with `cargo test --manifest-path=./rust/Cargo.toml`
rust/target/

build-macos/
